body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 span {
    color: #e1c10c;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav li a {
    text-decoration: none;
    color: rgb(132, 245, 245);
}

section {
    padding: 50px;
}

section h2 {
    color: #333;
}

.project {
    display: flex;
    margin-bottom: 30px;
}

.project img {
    max-width: 200px;
    margin-right: 40px;
    border-radius: 50%;
}

.view-project {
    background: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 10%;
    text-decoration: none;
    color: #f9f4f4;
}

.contact-icons {
    margin-top: 20px;
}

.contact-icons a {
    margin-right: 20px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}

#h2 {
    color: #11a489;
}

.profile-pic {
    max-width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}
